{% extends "base-site.html" %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
 <div class="col-sm-8">
        <div class="card">
          <div class="card-header ">
            <h4 class="title d-inline">CHATBOT</h4>
          </div>
          <div class="card-body ">
            <div>
              <div id="chatbox">
                  <ul>
                    <p class="botText"><span>Hi! I'm COVID19-BOT.</span></p>
                  </ul>
              </div>
              <div id="userInput">
                <ul>
                    <input id="textInput" type="text" name="data" placeholder="cho tôi dữ liệu bệnh nhân 20 tuổi">
                    <input id="buttonInput" type="submit" value="Send">
                </ul> 
              </div>
              <script>
                function getBotResponse() {
                  var rawText = $("#textInput").val();
                  var userHtml = '<ul><p class="userText"><span>' + rawText + '</span></p></ul>';
                  $("#textInput").val("");
                  $("#chatbox").append(userHtml);
                  document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                  $.get("/getdata", { data: rawText }).done(function(data) {
                        var ar = [];
                        var botHtml = '';
                        for(var m in data) {
                            var u = data[m];
                          ar.push(u);
                          };
                        if (typeof(data) != 'string'){
                            var strings = '';
                            for (var i=0;i<ar.length;i++){
                                var stringss = '<tr>';
                                arr = ar[i];
                                for (var j = 0;j <arr.length;j ++){
                                    for (var cc = 0; cc < arr[j].length; cc++){
                                        var str = '<th>'+ arr[j][cc] + '</th>';
                                        stringss =  stringss.concat(str);
                                    }
                                stringss = stringss.concat('</tr>');
                                };
                                strings = strings.concat(stringss);
                            };
                          botHtml = '<table class="table" ><tbody>' + strings + '</tbody></table>';

                          }
                        else{
                         botHtml = '<ul><p class="botText"><span>' + data + '</span></p></ul>';

                        }
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                  });
                }
                $("#textInput").keypress(function(e) {
                    if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                        getBotResponse();
                    }
                });
                $("#buttonInput").click(function() {
                    if (document.getElementById("textInput").value != "") {
                        getBotResponse();
                    }
                    
                })
              </script>
            </div>          
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header ">
            <h3 class="title d-inline"> MỘT SỐ CÂU HỎI MẪU</h3>
            <h5>cho tôi dữ liệu thống kê số người nhiễm bệnh ở 'tên thành phố'</h5>
            <h5>Vd: Cho tôi dữ liệu bệnh nhân ở <i>Cần Thơ</i></h5>
            <h5>Cho tôi dữ liệu bệnh nhân 'số tuổi' tuổi</h5>
            <h5>Vd: Cho tôi dữ liệu bệnh nhân <i>20</i> tuổi</h5>
            <h5>Cho tôi dữ liệu bệnh nhân ở 'tên thành phố' </h5>
            <h5>Vd: Cho tôi dữ liệu bệnh nhân ở <i>Cần Thơ</i></h5>
          </div>
          <div class="card-body ">       
          </div>
        </div>
      </div>
    </div>      
  </div>

       
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
{% endblock javascripts %}
